{% extends "global/base.html" %}
{% block content %}
<div class="form-wrapper">

    {% if user.is_authenticated %}
        <h2 class="sub-title">Olá, <span class="sub-header-link">{{user}}</span></h2>
        
        <div class="single-contact">
            <p><b>usuário:</b> {{user.username}}</p>
            <p><b>email:</b> {{user.email}}</p>
            <p><b>primeiro nome:</b> {{user.first_name}}</p>
            <p><b>segundo nome:</b> {{user.last_name}}</p>
        </div>
        <p>
            <a href="{% url "contact:user_update" %}" class="btn btn-link">Alterar dados</a>
        </p>
    {% else %}
        <h2>{{mode}}</h2>
        {% include "contact/partials/_user-forms.html" %}
    {% endif %}
  
</div>
{% endblock content %}

